html,
body,
#render-target,
.main-layout
  height 100%

body
  font-family 'Roboto', sans-serif
  margin 0

.main-layout
  display flex
  flex-direction column

.top-bar
  padding 12px
  text-align center
  background #ebebeb
  font-size 1.2em
  color #636363

.container
  flex 1 0
  display flex

.charts
  flex 1 0

.side-bar
  flex 0 0 300px
  color #636363
  display flex
  flex-direction column

.side-bar .section
  border solid #ebebeb medium
  border-top 0
  overflow hidden
  display flex
  flex-direction column
  padding-right 15px

.side-bar .countries
  flex 1

.side-bar .indicators
  flex 0 0 48%

.side-bar .active-indicators
  flex 1

.side-bar .title
  font-size 1.5em
  text-align center
  flex 0 0

.side-bar .subtitle
  font-size .9em
  text-align center
  font-style italic
  flex 0 0

.side-bar .list
  margin 10px 0 15px 0
  flex 1 0
  overflow-y scroll

.side-bar ul
  padding 0

.side-bar li
  font-size 1em
  padding 4px
  display flex
  margin 0 15px 0 15px

.side-bar .countries li
  margin-left 50px
  display list-item
  line-height 25px
  font-size 30px

.side-bar .indicators li,
.side-bar .active-indicators li
  margin-top 12px

.side-bar lifirst-child
  margin-top 0px

.side-bar a
  text-decoration none
  color #727272
  display inline-block
  width 100%

.side-bar .countries a
  vertical-align top
  font-size .57em

.side-bar .indicators a,
.side-bar .active-indicators a
  background #ebebeb
  padding 10px
  border-radius 8px

/* Let's get this party started */
::-webkit-scrollbar
  width 8px

/* Track */
::-webkit-scrollbar-track
  -webkit-box-shadow inset 0 0 0px rgba(0, 0, 0, 0)
  -webkit-border-radius 10px
  border-radius: 10px
  background #d4d4d4

/* Handle */
::-webkit-scrollbar-thumb
  -webkit-border-radius: 10px
  border-radius: 10px
  background: #7b7b7b
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5)

::-webkit-scrollbar-thumb:window-inactive
  background: #a4a4a4