html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}

#render-target {
    height: 100%;
}

.main-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-bar {
    padding: 12px;
    text-align: center;
    background: #ebebeb;
    font-size: 1.2em;
    color: #636363;
}

.container {
    flex: 1 0;
    display: flex;
}

.charts {
    flex: 1 0;
}

.side-bar {
    flex: 0 0 300px;
    color: #636363;
    display: flex;
    flex-direction: column;
}

.side-bar .section {
    border: solid #ebebeb medium;
    border-top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.side-bar .countries {
    flex: 1;
}

.side-bar .indicators {
    flex: 0 0 48%;
}

.side-bar .active-indicators {
    flex: 1;
}

.side-bar .title {
    font-size: 1.5em;
    text-align: center;
    flex: 0 0;
}

.side-bar .subtitle {
    font-size: .9em;
    text-align: center;
    font-style: italic;
    flex: 0 0;
}

.side-bar .section .list {
    margin: 10px 0 15px 0;
    flex: 1 0;
    overflow-y: scroll;
}

.side-bar ul {
    padding: 0;
}

.side-bar li {
    font-size: 1em;
    list-style: none;
    padding: 3px;
    display: flex;
    align-items: center;
}

.side-bar a {
    text-decoration: none;
    color: #727272;
    display: inline-block;
    width: 100%;
    margin: 0 15px 0 15px;
}

.side-bar .countries svg {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    padding-right: 20px;
}

.side-bar .indicators a {
    background: #ebebeb;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.side-bar circle {
    r: 25%;
    cx: 50%;
    cy: 50%;
    fill: #727272;
}

.side-bar .indicators svg {
    display: none;
}

.side-bar .active-indicators svg {
    display: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d4d4d4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #7b7b7b;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #a4a4a4;
}