/*
/
/ Chart area
/
*/

.chart-area
  padding 10px 50px 0 50px

.chart-area .title
  overflow hidden
  min-height 75px
  margin-bottom 25px

.chart-area hr
  border solid 1px #00adc6
  width 250px
  margin-left 0

/*
/
/ Chart stage
/
*/

.chart-area .stage
  background-color #fdfdfd

.chart-area .stage .chart-menu
  float right
  position relative
  top 20px
  right 20px

/*
/
/ Chart wrapper
/
*/

.chart-area .chart-wrapper
  min-height 500px

.chart-area .chart-wrapper
  padding 20px 75px 20px 75px

/*
/
/ Legends
/
*/

.chart-area .legends
  padding 0 100px

.chart-area .legend .scrollArea
  position relative
  overflow auto
  height 75px

/*
/
/ Line
/
*/

.chart-wrapper .line
  fill none
  stroke #7dc7f4
  stroke-width 5px

.chart-wrapper .line
  -webkit-transition d 400ms
  -moz-transition d 400ms
  -o-transition d 400ms
  transition d 400ms

.chart-wrapper .dot
  -webkit-transition cx 400ms
  -moz-transition cx 400ms
  -o-transition cx 400ms
  transition cx 400ms

.chart-wrapper .bar
  -webkit-transition width 400ms
  -moz-transition width 400ms
  -o-transition width 400ms
  transition width 400ms
  -webkit-transition x 400ms
  -moz-transition x 400ms
  -o-transition x 400ms
  transition x 400ms
  //-webkit-transition transform  400ms
  //-moz-transition transform 400ms
  //-o-transition transform 400ms
  //transition transform 400ms

.chart-wrapper .line
  stroke-dasharray 500%
  -webkit-animation line-effect 2s ease-out forwards
  animation line-effect 2s ease-out forwards

@-webkit-keyframes line-effect
  0%
    stroke-dashoffset 500%
  100%
    stroke-dashoffset 0%

@keyframes line-effect
  0%
    stroke-dashoffset 500%
  100%
    stroke-dashoffset 0%