.chart-area
  flex 1 1
  margin 20px 60px 20px 60px
  color #636363

.chart-area button
  background none
  border none
  outline none
  font inherit
  color inherit
  text-align left

.chart-area button:hover
  cursor pointer

/*
/
/ Wrapper Section
/
*/

.chart-area .wrapper
  align-self center
  background-color #fdfdfd
  display flex
  flex-direction column
  justify-content flex-end
  height 99%

/*
/
/ Chart Section
/
*/

.chart-area .chart
  background-color aqua
  flex 1 1 75%
  margin 0 0 10px 0

/*
/
/ Legends Section
/
*/

.chart-area .legends
  flex 1 1 25%
  display flex
  margin 0 20px 20px 20px
  align-content bottom

.chart-area .legend
  border solid #ebebeb medium
  border-radius 5px
  overflow hidden
  display flex
  flex-direction column

.chart-area .text
  display flex
  flex-wrap wrap
  margin 5px 0px 5px 0

.chart-area .text .title
  font-weight bold

.chart-area .list
  margin 5px 0 0 0
  overflow-y scroll
  padding 0
  list-style none
  font-size 16px

/*
/
/ Countries Section
/
*/

.chart-area .legend.countries
  flex 1 0 30%
  margin-right 10px

/*
/
/ Indicators Section
/
*/

.chart-area .legend.indicators
  flex 1 0 70%

/*
/
/ Misc
/
*/

.chart-area .dot
  font-size 10px
  margin-right 20px