html,
body,
#render-target,
.main-layout
  height 100%

body
  //font-family 'Lato', sans-serif
  font-family 'Open Sans', sans-serif
  //font-family 'Roboto', sans-serif
  margin 0

.main-layout
  display flex // for top-bar and container
  flex-direction column

.container
  flex 1 0
  display flex // for .charts and .side-bar

.charts
  flex 1

.view-active-trigger
  background-color #00adc6
  flex 0 0 40px
  line-height 40px
  display flex

.view-active-trigger a
  text-align center
  color white

.view-active-trigger div
  display flex
  align-items center
  justify-content center

.view-active-trigger img
  height 30px

/* Let's get this party started */

/* WebKit/Blink Browsers */
::selection
  background #00adc6
  color: white

/* Gecko Browsers */
::-moz-selection
  background #00adc6
  color: white


::-webkit-scrollbar
  width 10px

/* Track */
::-webkit-scrollbar-track
  border-radius 10px
  border-radius 10px
  background #dadada

/* Handle */
::-webkit-scrollbar-thumb
  background #727272
  border 2px solid transparent

  -webkit-border-radius 10px
  -webkit-background-clip content-box

  -moz-border-radius 10px
  -moz-background-clip content-box

  border-radius 10px
  background-clip content-box

::-webkit-scrollbar-thumb:window-inactive
  background #a4a4a4
  border 2px solid transparent

  -webkit-border-radius 10px
  -webkit-background-clip content-box

  -moz-border-radius 10px
  -moz-background-clip content-box

  border-radius 10px
  background-clip content-box