html,
body,
#render-target,
.main-layout
  height 100%

body
  font-family 'Roboto', sans-serif
  margin 0

.main-layout
  display flex
  flex-direction column

.container
  flex 1 0
  display flex // for sidebar and topbar

.charts
  flex 1 0

/* Let's get this party started */
::-webkit-scrollbar
  width 10px

/* Track */
::-webkit-scrollbar-track
  border-radius 10px
  border-radius 10px
  background #dadada

/* Handle */
::-webkit-scrollbar-thumb
  background #727272
  border 2px solid transparent

  -webkit-border-radius 10px
  -webkit-background-clip content-box

  -moz-border-radius 10px
  -moz-background-clip content-box

  border-radius 10px
  background-clip content-box

::-webkit-scrollbar-thumb:window-inactive
  background #a4a4a4
  border 2px solid transparent

  -webkit-border-radius 10px
  -webkit-background-clip content-box

  -moz-border-radius 10px
  -moz-background-clip content-box

  border-radius 10px
  background-clip content-box