.side-bar-trigger
  display:none

.side-bar-trigger ~ label
  background-image url("ic_search_white_24dp_2x.png")
  z-index 1000
  position absolute
  right 0
  top 75px
  background-size 100%
  background-color #00adc6
  height 50px
  width 50px
  transition all 0.15s linear
  transform translateX(calc(-300px))
  -webkit-border-radius 8px 0 0 8px
  -moz-border-radius 8px 0 0 8px
  border-radius 8px 0 0 8px

.side-bar-trigger:checked ~ label
  background-image url("ic_navigate_next_white_24dp_2x.png")
  transform translateX(calc(-750px))

.side-bar
  flex 0 0 300px
  color #636363
  display flex
  flex-direction column
  transition all 0.15s linear

input:checked ~ .side-bar
  flex 0 0 750px

.side-bar .section input
  border 2px solid #ebebeb
  height 30px
  margin 10px 30px 0 20px
  padding 0 10px 0 10px
  -webkit-border-radius 10px
  -moz-border-radius 10px
  border-radius 10px
  background url("ic_search_gray_24dp_2x.png") no-repeat right center
  background-size 30px
  outline none
  display none

input:checked ~ .side-bar .section input
  display block

/* individual: webkit */
.side-bar .section input::-webkit-input-placeholder
  font-style italic
  font-size 1.1em
  color #dddddd

/* individual: mozilla */
.side-bar .section input::-moz-placeholder
  font-style italic
  font-size 1.1em
  color #dddddd

.side-bar .section
  border solid #ebebeb medium
  border-top 0
  overflow hidden
  display flex
  flex-direction column
  padding-right 15px

.side-bar .countries
  flex 1

.side-bar .indicators
  flex 0 0 48%

.side-bar .active-indicators
  flex 1

.side-bar .title
  font-size 1.5em
  text-align center
  flex 0 0

.side-bar .subtitle
  font-size .9em
  text-align center
  font-style italic
  flex 0 0

.side-bar .list
  margin 10px 0 15px 0
  flex 1 0
  overflow-y scroll

.side-bar ul
  padding 0

.side-bar li
  font-size 1em
  padding 4px
  display flex
  margin 0 15px 0 15px

.side-bar .countries li
  margin-left 50px
  display list-item
  line-height 25px
  font-size 30px

.side-bar .indicators li,
.side-bar .active-indicators li
  margin-top 12px

.side-bar li:first-child
  margin-top 0px

.side-bar a
  text-decoration none
  color #727272
  display inline-block
  width 100%

.side-bar .countries a
  vertical-align top
  font-size .57em

.side-bar .indicators a,
.side-bar .active-indicators a
  background #ebebeb
  padding 10px
  -webkit-border-radius 8px
  -moz-border-radius 8px
  border-radius 8px
  border-radius 8px