.top-bar .fake-navigation
  background-image url("fake.jpg")
  height 140px
  background-size height 120px
  background-color #00adc6
  background-repeat no-repeat

.top-bar .chart-types
  font-size .9em
  padding 15px
  background #ebebeb
  color #636363
  display flex

.top-bar ul
  margin auto
  list-style none

.top-bar li:first-child
  font-size 1.1em

.top-bar li
  vertical-align middle
  margin-right 50px
  float: left