.top-bar
  font-size .9em
  padding 15px
  background #ebebeb
  color #636363

.top-bar div
  display flex

.top-bar ul
  margin auto
  list-style none

.top-bar li:first-child
  font-size 1.1em

.top-bar li
  vertical-align middle
  margin-right 50px
  float: left